.conteiner {
	background: none;	

}

.bg_ie8 {
	position: fixed;
	top: 79px;
	left: 50%;
	margin-left: -960px;
	z-index: -1;

}
.conteinerLupa {
	/*margin-left: 10px;
*/	background-position: center;
}



.mascaraImg,
.bgTransparente {
	background: url(../img/bgIe8.png) repeat;
}


.caixa_select {
	padding-right: 0;
	overflow: hidden;

}

.select {
	height: 20px;
}

.horizontal li {
	margin: 0 4px;
}

.selectBusca {
	width: 120%;
}

.campoSelect  {
	width: 90px;
	overflow: hidden;
}

.select {
	margin-left: 0;
	width: 120% !important;
}

.textoBusca {
	border-right: 1px solid #8098a5;
}


.audio {
		width: 490px;
		border: 5px solid $bordaCinza;
		border-radius: 5px;
		audio{
			width: 100%;
			/*height: 32px;*/
			/*margin-top: 5px;*/
		}
	}
		
}

.conteudoInferior {
	padding-top: 50px;
}